[Unit]
Description=Run Black Swan backup daily

[Timer]
OnCalendar=*-*-* 09:00:00 Europe/Moscow
Persistent=true
Unit=black-swan-backup.service

[Install]
WantedBy=timers.target
